{%extends 'base.html' %}



{%block content%}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
   {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{%endfor%}
<h1>Post...</h1>
<br/>


<div class="shadow p-3 mb-5 bg-body rounded">
    <h2>{{post.title}}</h2> <br />
    <small><strong>By</strong>: {{post.poster.name}} <br />
        {{post.date_posted}}</small> <br /><br/>
        {{post.content|safe}} <br /><br/>
    <small><strong>About the author:</strong> {{post.poster.about_author}}</small> <br/><br/>
</div>
    <a href="{{url_for('posts')}}" class="btn btn-outline-secondary btn-small">Back To Blog</a>
    {%if post.poster.id == current_user.id%}
    <a href="{{url_for('edit_post', id=post.id)}}" class="btn btn-secondary btn-small">Edit Post</a>
    <a href="{{url_for('delete', id=post.id)}}" class="btn btn-danger btn-small">Delete Post</a>
    {%endif%}





{%endblock%}